<!DOCTYPE html>
<html ng-app="eventModule">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="~/Scripts/Events/eventModule.js"></script>
    <title>My ASP.NET MVC and AngularJS Application</title>
</head>
<body>

    @RenderBody()


</body>
</html>