<table>
    <tr>
        <td>Id</td>
        <td><input type="text" ng-model="talk.Id" class="form-control" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="talk.Name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Speaker</td>
        <td><input type="text" ng-model="talk.Speaker" class="form-control" /></td>
    </tr>
    <tr>
        <td>Venue</td>
        <td><input type="text" ng-model="talk.Venue" class="form-control" /></td>
    </tr>
    <tr>
        <td>Duration</td>
        <td><input type="text" ng-model="talk.Duration" class="form-control" /></td>
    </tr>
    <tr>
        <td colspan="2" align="center"> <input type="button" ng-click="add(talk)" value="Add New Talk" /></td>
    </tr>
</table>
