@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    eventModule.factory("InitialLoadService", function () {
        return {
            talks : @Html.Raw(Model)
            };
    });
</script>
<script src="~/Scripts/Events/eventcontroller.js"></script>
<div class="container">
    <h2>Talk Details</h2>
    <div class="row" ng-controller="eventController">

        <table class="table table-condensed table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Speaker</th>
                <th>Venue</th>
                <th>Duration</th>
            </tr>
            <tr ng-repeat="talk in talks">
                <td> {{talk.id}}</td>
                <td> {{talk.name}}</td>
                <td> {{talk.speaker}}</td>
                <td> {{talk.venue}}</td>
                <td ng-click="ShowEdit()" ng-hide="editDuration"> {{talk.duration}}m</td>
                <td>
                    <input type="text" ng-show="editDuration" ng-model="talk.duration"
                           ng-mouseleave="HideEdit()" />
                </td>
                <td><input type="button" value="Delete" ng-click="deleteItem($index)" /></td>
            </tr>
            <tr>
                <td colspan="4" style="font-weight: bolder"> Total Duration</td>
                <td style="font-weight: bolder"> {{TotalDuration()}}m</td>
            </tr>
        </table>
    </div>
</div>

